body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    padding-top: 100px; /* Adjust based on your navbar height */
  }

  .navbar {
    background-color:rgb(37, 134, 231);
    color:#fff;
  }

  .navbar-brand img {
    height: 30px; /* Adjust the height as needed */
  }

  .navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
  }

  .nav-link {
    color: #f70404fff !important;
  }

  .dropdown-menu {
    background-color:rgb(5, 5, 5)), 255, 255);
  }

  .dropdown-item {
    color: hwb(0 4% 6%) !important;
  }
  h5{
      color: rgb(96, 252, 6);
  }
  /* nav hover */
  .a,.nav-link:hover{
    /* border: solid 1px #f0f0f0; */
    /* border-radius: 20px; */
    text-decoration: underline;
    background-color: rgb(108, 170, 218);
    border-radius: 12px;
    
}
/* span:hover{
  color: rgb(255, 255, 255);
} */


/* teachers */

#scroll{
  /* background-color: #f5f5f5; */
  width: 1149px;
  height: 120px;
  float: left;
  margin-top: 20px;
}
.bankli{
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  padding: 0px;
}



